In [3]:
from os import scandir, getcwd
import pandas as pd
import numpy as np

def ls(ruta = getcwd()):
    return [arch.name for arch in scandir(ruta) if arch.is_file()]

def soloCSV():
    salida = []
    for i in ls():
        largo = len(i)
        if("csv" == i[ largo - 3 : largo]):
            salida.append(i)
            #print(i)
    return salida

def DataUnida():
    x = 1;
    salida = []
    for i in soloCSV():
        data_aux = pd.read_csv(i)
        print(str(x) + " " + str(len(data_aux)))
        salida.append(data_aux)
        x += 1
    return pd.concat(salida)

In [6]:
data = DataUnida()
data.to_excel("Total.xlsx", index=False)

1 38
2 46
3 41
4 44
5 47
6 51
7 52
8 54
9 58
10 62
11 67
12 67
13 68
14 70
15 71
16 71
17 72
18 72
19 72
20 72
21 73
22 73
23 74
24 75
25 75
26 75
27 75
28 75
29 76
30 76
31 84
32 84
33 85
34 90
35 94
36 101
37 105
38 114
39 119
40 125
41 141
42 151
43 160
44 173
45 199
46 225
47 255
48 266
49 206
50 216
51 218
52 230
53 249
54 258
55 272
56 276
57 284
58 292
59 299
60 304
61 3417
62 3415
63 3417
64 3420
65 3421

In [5]:
#datahtml = pd.read_html("https://www.jumbo.cl/institucional/locales-jumbo")

In [9]:
data = pd.read_csv("03-26-2020.csv")
data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [10]:
dataChile =data[data["Country_Region"] == "Chile"]

In [11]:
dataChile.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3280,NaN,NaN,NaN,Chile,2020-03-26 23:48:18,-35.6751,-71.543,1306,4,22,1280,Chile