In [12]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("time_series_covid19_confirmed_global.csv")
data_death =  pd.read_csv("time_series_covid19_deaths_global.csv")

data.shape

(248, 69)

In [15]:
data = data_death

In [17]:
data["suma"] = 0
for i in data.columns[4:]:
    data["suma"] = data["suma"] + data[i]

In [28]:
data2 = data[["Province/State","Country/Region","Lat","Long","suma",]]
data2

            Province/State         Country/Region        Lat        Long  suma
0                      NaN            Afghanistan  33.000000   65.000000    18
1                      NaN                Albania  41.153300   20.168300    74
2                      NaN                Algeria  28.033900    1.659600   318
3                      NaN                Andorra  42.506300    1.521800    14
4                      NaN                 Angola -11.202700   17.873900     0
..                     ...                    ...        ...         ...   ...
243                    NaN                   Mali  17.570692   -3.996166     0
244                    NaN  Saint Kitts and Nevis  17.357822  -62.782998     0
245  Northwest Territories                 Canada  64.825500 -124.845700     0
246                  Yukon                 Canada  64.282300 -135.000000     0
247                    NaN                 Kosovo  42.602636   20.902977     2

[248 rows x 5 columns]

In [19]:
np.sum(data2["suma"])

525066

In [29]:
check = data2["Country/Region"] == "Chile"

In [30]:
data3 = data2[check]

In [31]:
data3.head()

   Province/State Country/Region      Lat    Long  suma
48            NaN          Chile -35.6751 -71.543    24

In [46]:
datan = data_death[data_death["Country/Region"] == "Chile"]

In [65]:
n = len(data_death.columns)
data_death["Muertes totales"] = data_death[data_death.columns[n-1:n]]

In [66]:

data_death.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,Muertes totales
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,2,2,2,4,5,5,6,6
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7,9,11,15,17,17,19,21,25,25
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,3,3
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
np.max(data_death["suma"])

124398

In [67]:
datan = data_death[data_death["Country/Region"] == "Chile"]

In [68]:
datan.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,Muertes totales
48,NaN,Chile,-35.6751,-71.543,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,4,4